.headerPage .logo_img{
   float:left;
   width: 400px; 
   height: 100px;
   margin-left: 100px;
   margin-top: 10px;
}
.headerPage span {
   float:right;
   padding: 5px 15px;
   margin-top: 43px;
   margin-right: 15px;
   border: 1px solid rgba(255, 0, 0, 0.842);
   color: rgba(255, 0, 0, 0.842);
   font-weight: bold;
   font-size: 20px;
}

.headerPage .Vi_img {
   margin-top: 50px;
   height: 20px;
   margin-right: 10px;
   width: 28px;
   float: right;
}
.headerPage .En_img {
   margin-top: 50px;
   height: 20px;
   margin-right: 100px;
   width: 28px;
   float: right;
}
.headerPage .Search_bar {
   display: flex;
   float:right; 
   margin-top: 46px; 
   margin-right: 25px;
}
.headerPage input {
   border: red solid;
   color: blue;
   width: 200px;
   height: 30px;
   border-radius: 20px;
   font-size: 20px;
   outline: none;
}

.headerPage button {
   background: #fff;
	border-color: #fff;
	border-style: solid;
}
::placeholder {
   text-align: center;
   color: blue;
}