*{
   margin: 0;
   padding: 0;
}
.headerPage {
   /*border: 1px solid red;*/
   min-width: 100%;
   min-height: 100px;
   position: absolute;
}
.headerPage .logo_img{
   float:left;
   width: 550px; 
   height: 120px;
   margin-left: 100px;
   margin-top: 10px;
}
.headerPage span {
   float:right;
   padding: 5px 15px;
   margin-top: 45px;
   margin-right: 15px;
   border: 1px solid rgba(255, 0, 0, 0.842);
   color: rgba(255, 0, 0, 0.842);
   font-weight: bold;
   font-size: 15px;
}

.headerPage .Vi_img {
   margin-top: 50px;
   height: 20px;
   margin-right: 10px;
   width: 28px;
   float: right;
}
.headerPage .En_img {
   margin-top: 50px;
   height: 20px;
   margin-right: 100px;
   width: 28px;
   float: right;
}
.headerPage .Search_bar {
   display: flex;
   float:right; 
   margin-top: 46px; 
   margin-right: 25px;
}
.headerPage input {
   border: red solid;
   color: blue;
   width: 150px;
   height: 30px;
   border-radius: 20px;
   font-size: 15px;
   outline: none;
}

.headerPage button {
   background: #fff;
	border-color: #fff;
	border-style: solid;
}
::placeholder {
   text-align: center;
   color: blue;
}
.menu_ngang ul{
   display: flex;
   justify-content: space-between;
   text-align: center;
   margin-top: 110px;
   padding: 0;
   list-style-type: none;
}
.menu_ngang ul li {
   display: inline-block;
}

.menu_ngang ul li a {
   text-decoration: none;
   width: 170px;
   display: block;
   color: rgb(83, 83, 83);
   box-sizing: border-box;
   font-size: 20px;
   padding-bottom: 20px;
   padding-top: 20px;

   font-weight: bold;
   text-transform: uppercase;
}



.menu_ngang ul li a:hover, .menu_ngang ul li a:focus, .menu_ngang ul li a.active {
   text-decoration: underline;
   font-size: 20px;
}
.menu_ngang ul li ul {
   background: rgb(0,71,171) ;
   left: 0;
   right: 0;
   margin: 0;
   margin-top: 0px;
   padding: 13px;
   position: absolute;
   display: none;
}

.menu_ngang ul li ul li a
{
   box-sizing: border-box;
    color: white;
    border-right: none;
    line-height: 30px;
    width: 100%;
    margin: 0px 30px;
    padding: 10px;
}

.menu_ngang ul li:hover  ul{
   border-bottom: 1px solid #FFF;
   display: block;
   flex-direction: row;
   justify-content: center;
   text-decoration: none;
   transition: 4s;
}

.slider_images {
   overflow: hidden;
   height: 800;
   width: 1200px;
}