.logo_img {
    width: 550px; 
    height: 120px;
}
.switch_lang_img {
    width: 28px;
    height: 20px;
}

.header_menu .nav-{
    text-align: center;
}

.menu_ngang ul{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    padding: 0;
    list-style-type: none;
 }
 .menu_ngang ul li {
    display: inline-block;
 }
 
 .menu_ngang ul li a {
    text-decoration: none;
    width: 170px;
    display: block;
    color: rgb(83, 83, 83);
    font-size: 20px;
    margin-bottom: 30px; /*key*/
    font-weight: bold;
    text-transform: uppercase;
 }
 
 
 
 .menu_ngang ul li a:hover, .menu_ngang ul li a:focus, .menu_ngang ul li a.active {
    text-decoration: underline;
    font-size: 20px;
 }
 .menu_ngang ul li ul {
    background: rgb(0,71,171) ;
    left: 0;
    right: 0;
    margin: 0;
    margin-top: 0px;
    padding: 13px;
    position: absolute;
    display: none;
 }
 
 .menu_ngang ul li ul li a
 {
    box-sizing: border-box;
     color: white;
     border-right: none;
     line-height: 30px;
     width: 100%;
     margin: 0px 30px; /*key*/
     padding: 10px;
 }
 
 .menu_ngang ul li:hover  ul{
    border-bottom: 1px solid #FFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
 }
 .menu_doc {
   display: none;
 }
.menu_ngang .nav-link {
   text-align: center;
}
.menu_doc a {
   font-size: x-large;
   text-transform: uppercase;
}
.menu_doc a:hover, .menu_doc a:focus, .menu_doc a:active {
   text-decoration: underline;
}
.bang_su_kien_wideScreen img {
   width: 1200px;
   height: 600px;
}
.bang_su_kien_narrowScreen img {
   width: 1200px;
   height: 600px;
}
.bang_su_kien_narrowScreen {
   display: none;
}
.news_slider img {
   height: 300px;
   width: 70px;
}
.news_slider span {
   font-size: 20px; 
   font-weight:500;
}
 @media screen and (max-width:1200px) {
    .menu_ngang {
        display: none;
    }
    .menu_doc {
       display: flex;
    }
    .bang_su_kien_wideScreen {
      display: none;
    }
    .bang_su_kien_narrowScreen {
      display: block;
    }
 }
